EXT_DN_CONTAINER=oai-ext-dn
BASE_IMAGE=nvcr.io/nvidia/pytorch:25.12-py3
MODEL_PATH=/models/yolo11n.pt
DEVICE=0
DEFAULT_IMGSZ=640
DEFAULT_CONF=0.25
DEFAULT_IOU=0.70
MAX_IMAGE_BYTES=8388608
MAX_CONCURRENT_INFERENCE=1